.calendar {
  position: relative;
}

.highlight {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: calc(100% / 7);
  border: 3px solid var(--color-glass-control-border);
}

.container {
  width: 100%;
  height: 70px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  border: thin solid var(--color-glass-control-border);
  border-radius: var(--radius-sm);
}

.item {
  flex: 0 0 calc(100% / 7);
  padding: var(--spacing-xs);
  scroll-snap-align: start;

  border: inherit;
  background-color: var(--color-glass-control-bg);
  text-align: center;
}

.item:not(:first-of-type) {
  border-left: none;
}

.today {
  background-color: yellow;
}

.date {
  position: relative;
  width: 100%;
  height: 40px;
}

.month,
.day,
.weekday {
  position: absolute;
  line-height: 1;
}

.month {
  top: 0;
  left: 0;
  font-size: 0.8rem;
}

.day {
  top: 6px;
  right: var(--spacing-xs);
}

.weekday {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: 0.85rem;
}
